@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Russo+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P", system-ui;
}

button {
    cursor: pointer;
}

button:hover {
    background: #222222;
    color: #eeeeee;
}

body {
    background: #222222;
    color: #eeeeee;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 25px;
    font-size: 16px;
}

.again {
    background: #eeeeee;
    color: #222222;
    border: none;
    width: 120px;
    padding: 12px 0;
    font-family: "Press Start 2P", system-ui;
    font-size: 14px;

}

main {
    width: 100%;
    margin-top: 25px;
}

main h1 {
    justify-self: center;
}

.guessShowArea {
    position: relative;
    width: 100%;
    height: 200px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    justify-content: center;
}

.line {
    background: #eeeeee;
    width: 100%;
    height: 5px;
}

.box {
    position: absolute;
    width: 120px;
    height: 45%;
    background: #eeeeee;
    color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box p {
    font-size: 2.3rem;
}

.userArea {
    width: 50%;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    justify-self: center;
}


.guessArea {
    width: 30%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.guessArea input {
    width: 80%;
    /* min-width:150px; */
    height: 80px;
    background: #222222;
    border: 2px solid #eeeeee;
    color: #eeeeee;
    font-size: 2rem;
    text-align: center;
}

.guessArea p {
    width: 100%;
    /* min-width: 200px; */
    font-size: .7rem;
    margin-left: 15px;
}

.check {
    width: 50%;
    /* min-width:130px; */
    padding: 10px 0;
    background: #eeeeee;
    color: #222222;
    border: none;

}

.scoreArea {
    display: flex;
    flex-direction: column;
    width: 40%;
    min-width: 230px;
    justify-content: space-between;
}

.scores {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

@media (max-width:786px) {
    header {
        font-size: 14px;
    }

    .again {
        font-size: 14px;
        width: 110px;
    }

    main h1 {
        font-size: 1.6rem;
    }

    .userArea {
        width: 80%;
    }
}

@media (max-width:420px) {
    header {
        font-size: 10px;
    }

    .again {
        font-size: 10px;
        width: 80px;
    }

    main h1 {
        font-size: 1.2rem;
    }

    .guessShowArea {
        margin-top: 0;
    }

    .box {
        width: 100px;
        height: 40%;
    }

    .userArea {
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        gap: 50px;
    }

    .guessArea p {
        font-size: .6rem;
    }

    .scores {
        position: absolute;
        left: 0;
        transform: rotate(270deg);
        z-index: -1;
        bottom: 40%;
    }

    .score {
        position: relative;
        bottom: 45px;
    }

    .highScore {
        position: relative;
        right: 53px;
        top: 200px;
    }
    .scoreArea p{
        font-size: 1rem;
    }
}